<section class="contact" id="contact">
    <div class="top_section">
        <h2>Contact  <span>Me</span> </h2>
    </div>

    <div class="container">
        <div class="social_contact">
            <h2>Reach <span>Me</span></h2>
            <div class="links">
                <a href="mailto:amrhamed858@gmail.com"><i class="fa-solid fa-envelope"></i> E-mail</a>
                <a href="https://www.linkedin.com/in/amr-hamed-6382632a9" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                <a href="https://www.facebook.com/amr.maro.1610/" target="_blank"><i class="fa-brands fa-facebook"></i> Facebook</a>
                <a href="https://wa.me/201012986311" target="_blank"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>                
            </div>
        </div>

        <form action="">
            <div class="inputs_form">
                <input type="text" placeholder="Full Name">
                <input type="text" placeholder="E-mail">
                <input type="text" placeholder="Phone">
                <input type="text" placeholder="Subject">

                <textarea name="" id="" placeholder="Your Message Here....."></textarea>

                <button class="btn">Send Message</button>
            </div>
        </form>
    </div>

</section>