<section class="services">

    <div class="container">
        <div class="top_section">
            <h2>Our <span>Services</span></h2>
        </div>


        <div class="boxes">

            <div class="box">
                <i class="fa-solid fa-web-awesome"></i>
                <h3>Web Application Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, corrupti?</p>
                <a href="/services" class="btn">Read More</a>
            </div>

            <div class="box">
                <i class="fa-solid fa-globe"></i>
                <h3>API Development & Integration</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, corrupti?</p>
                <a href="/services" class="btn">Read More</a>
            </div>

            <div class="box">
                <i class="fa-solid fa-chart-simple"></i>
                <h3>Database Design & Management</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, corrupti?</p>
                <a href="/services" class="btn">Read More</a>
            </div>

            <div class="box">
                <i class="fa-solid fa-cart-shopping"></i>
                <h3>E-Commerce Solutions</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, corrupti?</p>
                <a href="/services" class="btn">Read More</a>
            </div>

            <div class="box">
                <i class="fa-solid fa-wrench"></i>
                <h3>Maintenance & Support</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, corrupti?</p>
                <a href="/services" class="btn">Read More</a>
            </div>

            <div class="box">
                <i class="fa-solid fa-folder"></i>
                <h3>Version Control & Collaboration</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, corrupti?</p>
                <a href="/services" class="btn">Read More</a>
            </div>
        </div>
    </div>
</section>