<section class="about">
    <div class="container">
        <div class="div_text">
            <h5>About Me </h5>

            <h2><span>I'm a .Net Developer</span></h2>

            <h4>I Develop Web Applications That Help People</h4>

            <p>I'm Amr Hamed, a Junior Full Stack .NET Developer and  <a href="https://iti.gov.eg/home" target="_blank"><span> ITI (Information Technology Institute)</span></a> graduate. I'm passionate about building scalable,
                user-friendly web applications and excited to leverage my skills to tackle complex challenges and drive impactful solutions.</p>



                <ul>
                    <div class="front">
                        <li><i class="fa-solid fa-check"> Front - End</i>
                            <ul>
                                <li>HTML 5</li>
                                <li>CSS 3</li>
                                <li>Bootstrap</li>
                                <li>Javascript</li>
                                <li>Typescript</li>
                                <li>Angular</li>
                            </ul>
                        </li>
                    </div>


                    <span style="height: 50px; width: 5px;"></span>

                    <div class="back">
                        <li><i class="fa-solid fa-check"> Back - End</i>
                            <ul>
    
                                <li> SQL server </li> 
                                <li> C# </li> 
                                <li> LINQ </li> 
                                <li> Entity Framework </li> 
                                <li> ASP.NET Core </li> 
                                <li> ASP.NET MVC </li> 
                                <li> ASP.NET Web API</li> 
                            </ul>
                        </li>
                    </div>
                </ul>

                <a href="./assets/img/Amr-Hamed-El-Sayed-FlowCV-Resume-20240825.pdf" download class="btn">Download CV</a>
        </div>
        
    <div class="div_img">
        <img src="./assets/img/about.jpg" alt="">
    </div>
    </div>
</section>