<section class="projects">
    <div class="container">
        <div class="top_section">
            <h2>Explore my popular<span> Projects</span></h2>
        </div>


        <div class="project_box">
            <img src="./assets/img/project1.jpg" alt="">

            <div class="text">
                <h4><span>Product Design</span></h4>

                <h3><a href="/projects">Website Makeup Design </a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Distinctio molestiae quae quas! Modi, ad temporibus.</p>

                <a href="/projects" class="link"><i class="fa-solid fa-arrow-up"></i></a>
            </div>
        </div>

        <div class="project_box project_box2">
            <img src="./assets/img/project2.jpg" alt="">

            <div class="text">
                <h4><span>Product Design</span></h4>

                <h3><a href="/projects">Website Makeup Design </a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Distinctio molestiae quae quas! Modi, ad temporibus.</p>

                    <a href="/projects" class="link"><i class="fa-solid fa-arrow-up"></i></a>
            </div>
        </div>

        <div class="project_box">
            <img src="./assets/img/project3.jpg" alt="">

            <div class="text">
                <h4><span>Product Design</span></h4>

                <h3><a href="/projects">Website Makeup Design </a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Distinctio molestiae quae quas! Modi, ad temporibus.</p>
                    <a href="/projects" class="link"><i class="fa-solid fa-arrow-up"></i></a>
            </div>
        </div>

        <div class="project_box project_box2">
            <img src="./assets/img/project4.jpg" alt="">

            <div class="text">
                <h4><span>Product Design</span></h4>

                <h3><a href="/projects">Website Makeup Design </a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Distinctio molestiae quae quas! Modi, ad temporibus.</p>
                    <a href="/projects" class="link"><i class="fa-solid fa-arrow-up"></i></a>
            </div>
        </div>
        
    </div>
</section>