<div class="hero">
    <div class="container">
        <div class="div_text">
            <h4>Hello,i'm</h4>
            <h1>
                <span> Amr Hamed </span>
            </h1>
            <h2>Full Stack .NET Developer</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptas fugit soluta culpa accusamus at.
                Sint iusto natus quae voluptas eveniet!</p>

            <div class="btns">
                <a href="/contact" class="btn">Hire Me</a>
                <a href="./assets/img/Amr-Hamed-El-Sayed-FlowCV-Resume-20240825.pdf" download class="btn_no_bg">Download Resume</a>
            </div>
        </div>

        <div class="div_img">
            <img src="./assets/img/home.png" class="person" alt="">
            <img src="./assets/img/bg_img_home.png" class="bg_img" alt="">
        </div>
    </div>
</div>
